/* Begin main style  */
#main{
    margin: 30px;
    height: 743px;
    border: 1px;

    /* Begin article style  */
    .card {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: relative;
        height: 625px; 
        border: 1px;
        border-radius: 25px;
        #slider-content {
            position: relative;
            overflow: hidden;
            border-radius: 25px;
            height: 100%; // s'assurez que le conteneur a une hauteur définie
        }

        .article-banner-img {
            width: 100%;
            height: 100%; // L'image prendra la hauteur totale du conteneur
            object-fit: cover;
            object-position: center;
        }

        #prev, #next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 2em;
            color: white;
            cursor: pointer;
        }

        #prev {
            left: 10px;
        }

        #next {
            right: 10px;
        }

        .dots {
            position: absolute;
            bottom: 50px; // Positionne les points en bas
            left: 50%;
            transform: translateX(-50%); // Centre les points horizontalement
            color: #FFFFFF;
        }

        .card-content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .card-title {
                width: 635px;
                height: 51px;
                top: 608px;
                left: 100px;
                color: #FF6060;
                font-size: 36px;
                font-weight: 500;
                line-height: 51px;
                letter-spacing: 0em;
                text-align: left;
                margin-bottom: 0px;
            }
            .separator{
                width: 100%;
                height: 0px;
            }
            .card-subtitle {
                width: 275px;
                height: 26px;
                top: 659px;
                left: 100px;
                font-size: 18px;
                font-weight: 500;
                line-height: 26px;
                letter-spacing: 0em;
                text-align: left;
                margin-top: 0px;
            }
            .card-host {
                width: 167px;
                height: 64px;
                top: 602px;
                left: 1170px;
                margin-top: 25px;
                .card-rating {
                    width: 196px;
                    height: 36px;
                    top: 687px;
                    left: 1144px;
                    margin-top: 27px;
                    .fa-star {
                        color: #FF6060;
                    }
                    .fa-start-grey {
                        color: #E3E3E3;

                    }
                }
                .card-host-name {
                    display: flex;
                    justify-content: space-between;
                    .card-avatar {
                        width: 64px;
                        height: 64px;
                        top: 602px;
                        left: 1273px;
                        background: #C4C4C4;
                        border-radius: 300px 300px 300px 300px;
                        -webkit-border-radius: 300px 300px 300px 300px;
                        -moz-border-radius: 300px 300px 300px 300px;
                    }
                }
            }
            .card-tags {
                width: 100%;
                height: 25px;
                top: 705px;
                left: 100px;
                border: 1px;
                .card-tag {
                    display: inline-flex;
                    max-width: 365px;
                    height: 25px;
                    top: 705px;
                    left: 350px;
                    border: 1px;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: center;
                    color: #FFFFFF;
                    background-color: #FF6060;
                    padding: 2px 15px 2px 15px;
                    border-radius: 4px;
                    margin: 3px;
                }
            }
        }
        .card-accordions {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(1, 1fr);
            gap: 10px; /* ajustez ceci pour changer l'espace entre les cartes */
            .accordion-button{
                border-radius: 5px;

            }
        }
    }
    /* End banner style  */
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
/* Begin main style  */
#main{
    margin: 30px;
    height: 743px;
    border: 1px;

    /* Begin article style  */
    .card {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: relative;
        height: 700px; 
        border: 1px;
        border-radius: 25px;
        #slider-content {
            position: relative;
            overflow: hidden;
            border-radius: 25px;
            height: 100%; // Assurez-vous que le conteneur a une hauteur définie
        }

        .article-banner-img {
            width: 100%;
            height: 100%; // L'image prendra la hauteur totale du conteneur
            object-fit: cover;
            object-position: center;
        }

        #prev, #next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 2em;
            color: white;
            cursor: pointer;
        }

        #prev {
            left: 10px;
        }

        #next {
            right: 10px;
        }

        .dots {
            position: absolute;
            bottom: 50px; // Positionne les points en bas
            left: 50%;
            transform: translateX(-50%); // Centre les points horizontalement
            color: #FFFFFF;
        }

        .card-content {
            display: flex;
            flex-direction: column;
            .card-title {
                width: 335px;
                height: 73px;
                top: 363.88px;
                left: 20px;
                color: #FF6060;
                font-size: 30px;
                font-weight: 500;
                line-height: 26px;
                letter-spacing: 0em;
                text-align: left;
            }
            .separator{
                width: 100%;
                height: 25px;
            }
            .card-subtitle {
                width: 100%;
                height: 26px;
                top: 659px;
                left: 100px;
                font-size: 18px;
                font-weight: 500;
                line-height: 26px;
                letter-spacing: 0em;
                text-align: left;
            }
            .card-host {
                width: 100%;
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                .card-rating {
                    display: flex;
                    flex-direction: row;
                    .fa-star {
                        color: #FF6060;
                    }
                    .fa-start-grey {
                        color: #E3E3E3;
                    }
                }
                .card-host-name {
                    display: flex;
                    justify-content: space-between;
                    .card-avatar {
                        width: 64px;
                        height: 64px;
                        top: 602px;
                        left: 1273px;
                        background: #C4C4C4;
                        border-radius: 300px 300px 300px 300px;
                        -webkit-border-radius: 300px 300px 300px 300px;
                        -moz-border-radius: 300px 300px 300px 300px;
                    }
                }
            }
            .card-tags {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                top: 705px;
                left: 100px;
                border: 1px;
                margin-bottom: 20px;
                .card-tag {
                    display: inline-flex;
                    height: 25px;
                    border: 1px;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: center;
                    color: #FFFFFF;
                    background-color: #FF6060;
                    padding: 2px 15px 2px 15px;
                }                
            }
        }
        .card-accordions {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 10px; /* ajustez ceci pour changer l'espace entre les cartes */
            .accordion-button{
                border-radius: 5px;

            }
        }
    }
    /* End banner style  */
}
}